body {
    background: #88498D !important;
}

#myVideo {
    position: fixed;
    z-index: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

#banner:after {
    background: #88498D;
}

#page-wrapper, body.is-mobile.landing #banner {
    position: relative;
    z-index: 1;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4)), url(../../images/banner.jpg) !important;
}

#header {
    transition: background-color 0.2s ease;
    background: #88498D;
    height: 4.5em;
    line-height: 4.5em;
}
#header h1 {
    top: 5px;
}

.menu-link.mobile {
    display: none !important;
}
@media screen and (max-width: 736px) {
    .menu-link {
        display: none !important;
    }
    .menu-link.mobile, #banner .more {
        display: block !important;
    }
}

#header.alt {
    position: absolute;
}
.alt .menu-link {
    display: none !important;
}
.alt .menu-link.mobile {
    display: block !important;
}
#header nav > ul > li > a.menuToggle {
    padding: 1em 2em 0;
    height: 65px;
}
#header nav > ul > li > a.menuToggle span {
    position: absolute;
    top: 0em;
    right: 4.5em;
}

#header nav > ul > li > ul.submenu {
    position: absolute;
    left: 0;
    top: 150%;
    width: 300px;
    text-align: left;
    padding-left: 0;
    background-color: #222222;
    z-index: 9999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#header nav > ul > li > ul.submenu li:first-child {
    border-top: none;
}
#header nav > ul > li > ul.submenu > li {
    border-top: 1px solid #333333;
    list-style: none;
    transition: .3s;
}
#header nav > ul > li > ul.submenu > li:hover {
    background: #88498D;
}
#header nav > ul > li > ul.submenu > li > a {
    border-bottom: 0;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 20px;
    line-height: 45px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#header nav > ul > li:hover > ul.submenu {
    top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}

#banner h2:before, #banner h2:after {
    display: none;
}
