/* Body and Resets */
:root {
    --theme-color1: #88498F;
    --theme-color2: #D83C40;
    --theme-color3: #66A578;
    --theme-color4: #EA8A96;
    --theme-color5: #F5E490;
}

body {
    opacity: 0;
    transition: 0.3s;
    background-color: #F5F5F5;
}
body.shown {
    opacity: 1;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

html::-webkit-scrollbar, .main-sidebar::-webkit-scrollbar {width:7px; height:auto;background: #d5d5d5;padding: 5px;}
html::-webkit-scrollbar-corner, .main-sidebar::-webkit-scrollbar-corner { background: #FFF;}
html::-webkit-scrollbar-button:vertical, .main-sidebar::-webkit-scrollbar-button:vertical {height:0px;display:block;}
html::-webkit-scrollbar-button:horizontal, .main-sidebar::-webkit-scrollbar-button:horizontal {width:0px;display:block;}
html::-webkit-scrollbar-thumb, .main-sidebar::-webkit-scrollbar-thumb  {background: rgb(158, 165, 171);}
html::-webkit-scrollbar-thumb:hover, .main-sidebar::-webkit-scrollbar-thumb:hover {border: 1px solid  #d5d5d5;}
html::-webkit-scrollbar-track-piece, .main-sidebar::-webkit-scrollbar-track-piece {background: none;}

.table td, .table th {
    border-top: 0;
}
.table-responsive {
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 0;
}

.page-title-box .page-title {
    padding-left: 50px;
    font-size: 18px;
    line-height: 40px;
}

.page-title-box {
    position: relative;
    left: 0;
    right: 0;
    top: 27px;
    border-radius: 0;
    background-color: #FFF;
}
.content_container {
    margin-top: 55px;
}
.breadcrumb {
    padding: .5rem 1rem;
    background-color: transparent;
}
.breadcrumb a {
    color: #555;
}

a.header-icon {
    line-height: 34px;
    padding: 3px 5px;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.5s;
    z-index: 2;
    display: inline-block;
    font-size: 30px;
    color: #6c757d;
}
a.header-icon:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.nav-user {
    padding: 0 12px!important;
}
.nav-user img {
    height: 32px;
    width: 32px;
}

.input-group>.input-group-append>.btn {
    border-color: #ced4da;
}

/* SELECT 2 */
.select2-container {
    width: 100%!important
}
.select2-container .select2-selection--single {
    border: 1px solid #ced4da;
    height: 38px
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
    outline: 0
}
.select2-container .select2-selection--single .select2-selection__clear {
    padding-right: 10px;
    font-size: 20px;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px
}
.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #c3d2dc transparent transparent;
    border-width: 6px 6px 0
}
.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #c3d2dc!important;
    border-width: 0 6px 6px!important
}
.select2-results__option {
    padding: 6px 12px
}
.select2-dropdown {
    border: 1px solid #e3eaef;
    -webkit-box-shadow: 0 10px 35px 0 rgba(154,161,171,.1);
    box-shadow: 0 10px 35px 0 rgba(154,161,171,.1)
}
.select2-container--default .select2-search--dropdown {
    padding: 10px;
    background-color: #fff
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #e3eaef;
    outline: 0
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #35b8e0
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f3f6f8;
    color: #3b3e47
}
.select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #35b8e0;
    color: #fff
}
.select2-container .select2-selection--multiple {
    min-height: 38px;
    border: 1px solid #ced4da!important
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 10px
}
.select2-container .select2-selection--multiple .select2-search__field {
    margin-top: 7px;
    border: 0
}
.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #35b8e0;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 3px;
    padding: 0 7px
}
.select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    margin-right: 5px
}
.select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff
}
.select2-container--default .select2-results__option[aria-disabled=true], .select2-container--default .select2-results__option:not([id]) {
    display: none;
}
.select2-container.select2-container--open span.select2-selection__rendered {
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
}
.select2-dropdown {
    border: 1px solid #ced4da;
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
}

/* BreadCrumb */
.breadcrumb-item {
    font-size: 0.85em;
    line-height: 2.1;
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-right: .3rem;
    content: "|";
}

/* Card Box */
.card {
    -webkit-box-shadow: 0 10px 35px 0 rgba(154,161,171,.1);
    box-shadow: 0 10px 35px 0 rgba(154,161,171,.1);
    border: none!important
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 35px 0 rgba(154,161,171,.1);
    box-shadow: 0 10px 35px 0 rgba(154,161,171,.1)
}
.card-box .header-title {
    margin-bottom: 8px;
    font-size: 1.00625rem;
    margin-top: 0
}
.card-box .card-drop {
    font-size: 20px;
    line-height: 30px;
    color: inherit;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-top: -6px
}
.card-box .card-drop:hover {
    background-color: #f3f6f8;
    color: #3b3e47
}
.card-header,.card-title {
    margin-top: 0!important
}

/* Shadows & Hovers */
.card-box, .page-title-box {
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
    transition: 0.3s box-shadow;
}
.card-box:hover, #topnav .navigation-menu>li.last-elements .submenu, .navbar-custom .dropdown-menu-right {
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.13), 0 3px 12px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.13), 0 3px 12px rgba(0, 0, 0, 0.06);
}
.table .table, .table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* Toolbar */
.toolbar .btn-toolbar {
    height: 3.375rem;
    min-width: 3.375rem;
    width: 3.375rem;
    padding: 0;
    transition: 0.3s;
    margin-top: 5px;
    display: inline-block;
}
.toolbar .btn-toolbar.search {
    font-size: 26px;
}
.toolbar .btn-toolbar.search i {
    font-weight: bold;
}
.toolbar .btn-toolbar.addAction {
    padding: 14px 10px;
    width: 100%;
}
.toolbar .btn-toolbar.addAction i {
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    position: relative;
    top: 3px;
}
.toolbar .btn-toolbar.addAction span {
    font-weight: bold;
}
.toolbar .materialize .form-label-group {
    margin-top: 10px;
}

.toolbar.materialize .form-label-group label {
    padding-right: 0px;
}

/* Form wizard */
.tabcontrol, .wizard {
    overflow: visible !important;
}
.form-wizard {
    padding: 0 !important;
}
.form-wizard-buttons {
    text-align: right;
    margin-bottom: 30px;
}

/* switchery */
.switchery {
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box
}
.switchery>small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    height: 30px;
    position: absolute;
    top: 0;
    width: 30px
}
.switchery-small {
    border-radius: 20px;
    height: 20px;
    width: 33px
}
.switchery-small>small {
    height: 20px;
    width: 20px
}
.switchery-large {
    border-radius: 40px;
    height: 40px;
    width: 66px
}
.switchery-large>small {
    height: 40px;
    width: 40px
}

/* sticky button */
.materialize {
    position: relative;
}
.sticky-button {
    position: sticky;
    bottom: 0;
    z-index: 999;
}

/****************
*  Custom CSS 
****************/
a, .navbar.navbar-transparent .nav-item.active .nav-link:not(.btn), .navbar.navbar-transparent .nav-item .nav-link:not(.btn):focus, .navbar.navbar-transparent .nav-item .nav-link:not(.btn):hover, .navbar.navbar-transparent .nav-item .nav-link:not(.btn):focus:hover, .navbar.navbar-transparent .nav-item .nav-link:not(.btn):active {
    color: #89498d;
}
a:hover, a:focus {
    color: #a357a8;
}

/* Sidebar Menu */
.sidebar:after, .off-canvas-sidebar:after {
    background: hsl(243, 47%, 55%);
    background: linear-gradient(135deg, hsl(243, 47%, 55%) 0%, hsla(296, 32%, 42%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsl(243, 47%, 55%) 0%, hsla(296, 32%, 42%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsl(243, 47%, 55%) 0%, hsla(296, 32%, 42%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5c56c2", endColorstr="#88498D", GradientType=1 );
}

.nav li.active:not(.childs) {
    background: #F5F5F5;
}
.nav li.active a:before, .nav li.active a:after, .sidebar .sidebar-wrapper li.active>a:not([data-toggle="collapse"]):after, .sidebar .sidebar-wrapper li.active>[data-toggle="collapse"]+div .nav li:after, .sidebar .sidebar-wrapper li.active>a:not([data-toggle="collapse"]):before, .sidebar .sidebar-wrapper li.active>[data-toggle="collapse"]+div .nav li:before {
    display: none !important;
}

.sidebar .nav .caret, .off-canvas-sidebar .nav .caret {
    top: 22px;
}
.sidebar .nav .collapse .nav li, .sidebar .nav .collapsing .nav li, .off-canvas-sidebar .nav .collapse .nav li, .off-canvas-sidebar .nav .collapsing .nav li {
    padding-left: 20px;
}
.navbar.navbar-absolute {
    padding: 12px;
}